* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://rukminim2.flixcart.com/image/850/1000/kxxl9jk0/poster/b/g/l/small-1tnnqyns-leaves-light-green-background-wallpaper-poster-vp-original-imaga9xskywbqaxv.jpeg?q=20&crop=false');
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar h1 {
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.content {
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: tomato;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:snow;
}

.image-container {
    margin-top: 20px;
}

.dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #555;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: rgb(245, 245, 58);
}

